

.framework {
    &__well {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &__card {
            width: 40vw;
            border-radius: 20px;
            background-color: $off-white;
            margin: 30px;
            padding: 20px;

            @media only screen and (max-width: 800px) {
                width: auto;
            }
        }
    }
}