

.hero {   
    height: 100vh;
    overflow: hidden;
    position: relative;
    &__background {
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin center {
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__prompt__background { 
        position: absolute;
        background-color: $primary-color;
        opacity: 0.5;
        width: calc(100vw - 50px);
        height: 300px;
        top: 150px;
        @include center;
    }

    &__prompt {
        position: absolute;
        top: 150px;
        @include center;
        width: calc(100vw - 100px);
        text-align: center;
        

        h1 {
            font-size: 4em;
            color: $off-white;
            opacity: 1;
            height: 300px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: 500px) {
                font-size: 2em;
            }
        }
    }

    &__scroll {
        position: absolute;
        @include center;
        bottom: 100px;
        background-color: $primary-color;
        color: $off-white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
}