

.keys {
    &__component {
        font-style: italic;
        font-weight: 800;
    }

    img {
        max-width: 700px;
        max-height: 400px;
        width: 100%;
        margin: auto;
    }

    &__details {
        font-size: 0.5em;
        font-weight: 200;
    }
}