@import "variables";
@import "nav";
@import "hero";
@import "section";
@import "what";
@import "frameworks";   
@import "comparisons";
@import "keys";

html, body {
    padding: 0;
    margin: 0;
    font-family: Avenir;
    color: $main-text;
}

h1, h2, h3 {
    color: $header-text;
    font-weight: 200; 
}   