
.nav {
    background-color: $primary-color;
    color: $off-white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 20px;
    flex-wrap: wrap;

    @media only screen and (max-width: 500px) {
        height: auto;
    }

    h1 {
        color: $off-white;
    }

    &__links {
        display: flex;
        flex-direction: row;

        a {
            text-decoration: none;
            color: $off-white;
            margin: 0px 10px;
            font-size: 1.2em;
        }

        @media only screen and (max-width: 500px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__toggle {
        display: none;

        border: 2px solid $off-white;
        color: $off-white;
        background-color: transparent;

        @media only screen and (max-width: 500px) {
            display: block;
        }

        &:focus {
            outline: none;
        }
    }
}