
.nav {
    background-color: $primary-color;
    color: $off-white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: calc(100vw - 40px);

    @media only screen and (max-width: 600px) {
        height: auto;
    }

    h1 {
        color: $off-white;
        @media only screen and (max-width: 310px) {
            font-size: 1.2em;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        max-height: 300px;
        opacity: 1;
        transition: max-height 2s, opacity 1s, margin-top 2s; 

        

        a {
            text-decoration: none;
            color: $off-white;
            margin: 0px 10px;
            font-size: 1.2em;
        }

        @media only screen and (max-width: 600px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__toggle {
        display: none;

        border: 2px solid $off-white;
        color: $off-white;
        background-color: transparent;

        @media only screen and (max-width: 600px) {
            display: block;
        }

        &:focus {
            outline: none;
        }
    }
}