

.section {
    padding: 20px;

    &__header {
        font-size: 2em;
        color: $header-text;
    }

    &__content {
        line-height: 1.8;
        font-weight: 100;
        color: $main-text;
    }
}